.newcard-button {
  background: rgb(32, 172, 78);
  color: white;
  padding: 1rem 2rem;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  right: 20px;
  z-index: 1000;
  border: 0;
}

.newcard-button:hover:not(:disabled) {
  background: rgb(24, 129, 59);
  transform: translateY(-2px);
}