



.app {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.main_layout{
  display: flex;
  height: 100%;
}


.body {
  margin: 0;
  padding: 0;
}

.Current_page {
    flex: 1; 
    box-sizing: border-box;
    overflow-y: auto;
}