.register_background {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.089);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register_box {
    min-width: 50vw;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
}

.register_form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.register_form label {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.register_form input,
.register_form textarea {
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin: 20px;
}

.form_buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.form_buttons button {
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.form_buttons button[type="submit"] {
    background-color: #22c55e;
    color: white;
}

.form_buttons button[type="button"] {
    background-color: #ef4444;
    color: white;
}